VirtualPolice/Service References/VPServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/VPServiceLibrary" />
  <xs:element name="AddDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="newDenuncia" nillable="true" type="q1:DenunciaWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDenunciaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDenuncia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDenunciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDenuncia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDenuncia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDenunciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetDenunciaResult" nillable="true" type="q2:DenunciaWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotificacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetNotificacionesResult" nillable="true" type="q3:ArrayOfDenunciaWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="newAgente" nillable="true" type="q4:AgenteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAgenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCiudadano">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="newCiudadano" nillable="true" type="q5:CiudadanoWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCiudadanoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCiudadanoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetAgenteResult" nillable="true" type="q6:AgenteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiudadano">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCiudadanoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetCiudadanoResult" nillable="true" type="q7:CiudadanoWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetAgentesResult" nillable="true" type="q8:ArrayOfAgenteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dias" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetPlanningResult" nillable="true" type="q9:ArrayOfActividadWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarCiuAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numPlaca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarCiuAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarCiuAgenteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarConexion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ComprobarConexionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ComprobarConexionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetExpedienteResult" nillable="true" type="q10:ExpedienteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="expediente" nillable="true" type="q11:ExpedienteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearExpedienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarExpediente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_denuncia" type="xs:int" />
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarExpedienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsociarExpedienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDenuncias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDenunciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VPServiceLibrary" minOccurs="0" name="GetDenunciasResult" nillable="true" type="q12:ArrayOfDenunciaWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>